<div class="page-home">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 describe">
                <p>
                    Etes-vous d’accord que notre pays, le Cameroun, doit se transformer en profondeur pour s’engager sur la voie de l’excellence et du progrès pour chaque Camerounais ? Si votre réponse est oui, cette plateforme est la vôtre.
                    Alors, pour remettre du sens dans notre démarche collective, par quoi devons-nous commencer ? Vous êtes invité(e) à répondre aux trois questions suivantes : Qu’est-ce qui au Cameroun vous rend le plus fier d’être Camerounais ? Si vous étiez en responsabilité au Cameroun, à quel problème vous attaqueriez-vous en priorité ? Quelle(s) solution(s) trouveriez-vous la(les) plus pertinente(s) et efficace(s) pour résoudre ce problème ?
                    Pour que votre proposition ait de la valeur et soit prise en compte, pensez constructif, et prenez le temps qu’il faut pour développer vos idées avec soin, originalité, et rigueur intellectuelle. Pour cela, imaginez que si une seule proposition doit être sélectionnée et mise en œuvre, ce sera la vôtre !
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><!--href="#/sous-rubrique/10"  ng-click="expandedAccordion(1)"-->
            <a ng-repeat="proposition in listDesPropositions | limitTo: 3" class="card">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="theme">
                                <h5>
                                    {{listSousRubrique[proposition.id_theme].titre}}
                                </h5>
                            </div>
                            <div class="proposition">
                                <div class="probleme">
                                    {{proposition.problematique | limitTo: maxCaracteresProblematique }}...?
                                </div>
                                <div class="solution">
                                    {{proposition.solution | limitTo: maxCaracteresSolution }}
                                </div>
                            </div>
                            <div class="details">
                                <div class="author">
                                    <span>by</span>
                                    <span>{{proposition.user.nom | limitTo: 10 }}</span>
                                </div>
                                <div class="notify">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span>{{proposition.views_count}}</span>
                                </div>
                                <div class="notify">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <span>{{proposition.likes_count}}</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a ng-repeat="proposition in listDesPropositions | limitTo: 3 : 3" class="card">
               <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="theme">
                                <h5>
                                    {{listSousRubrique[proposition.id_theme].titre}}
                                </h5>
                            </div>
                            <div class="proposition">
                                <div class="probleme">
                                    {{proposition.problematique | limitTo: maxCaracteresProblematique }}...?
                                </div>
                                <div class="solution">
                                    {{proposition.solution | limitTo: maxCaracteresSolution }}
                                </div>
                            </div>
                            <div class="details">
                                <div class="author">
                                    <span>by</span>
                                    <span>{{proposition.user.nom | limitTo: 10 }}</span>
                                </div>
                                <div class="notify">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span>{{proposition.views_count}}</span>
                                </div>
                                <div class="notify">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <span>{{proposition.likes_count}}</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<nav-flottant></nav-flottant>